# Logs
logs
*.log
npm-debug.log*


# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Keep the configuration file out of source control becuase it contains account information
gulp.config.js